Repository buildo/retro, pull requests merged in 2019-06, with the labels that each got.

#54 #53: Convert Instant to Timestamp in MySQL (closes #53)
  toctoc/slickMySql/src/main/scala/io.buildo.toctoc/slick/authentication/token/MySqlSlickAccessTokenAuthenticationDomain.scala
  toctoc/slickMySql/src/main/scala/io.buildo.toctoc/slick/authentication/token/MySqlSlickHelper.scala
Labels: waiting for merge, 🔒toctoc

#56 #55: Fix Instant conversion for MySQL (closes #55)
  toctoc/slickMySql/src/main/scala/io.buildo.toctoc/slick/authentication/token/MySqlSlickAccessTokenAuthenticationDomain.scala
  toctoc/slickMySql/src/main/scala/io.buildo.toctoc/slick/authentication/token/MySqlSlickHelper.scala
Labels: bug, in review, 🔒toctoc

#58 #46: [Ready To Test] Collect endpoints automatically (closes #46)
  tapiro/core/src/main/scala/io/buildo/tapiro/Meta.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/Util.scala
Labels: BE maint, WIP, experiment metarpheus-tapir, 🐭tapiro

#60 #59: [Ready To Test] Implement sbt plugin (closes #59)
  build.sbt
  tapiro/ci/test.yml
  tapiro/core/src/main/scala/io/buildo/tapiro/Util.scala
  tapiro/sbt-tapiro/src/main/scala/io/buildo/tapiro/SbtTapiro.scala
  tapiro/sbt-tapiro/src/sbt-test/sbt-tapiro/simple/build.sbt
  tapiro/sbt-tapiro/src/sbt-test/sbt-tapiro/simple/project/plugins.sbt
  tapiro/sbt-tapiro/src/sbt-test/sbt-tapiro/simple/src/main/scala/Api.scala
  tapiro/sbt-tapiro/src/sbt-test/sbt-tapiro/simple/src/main/scala/Models.scala
  tapiro/sbt-tapiro/src/sbt-test/sbt-tapiro/simple/test
Labels: BE maint, experiment metarpheus-tapir, waiting for merge

#25 #7: Documentation for standard flows (closes #7)
  build.sbt
  ci/pipeline.yml
  docs/toctoc/guides/token-based-authentication-flow.md
  docs/toctoc/guides/token-based-recovery-flow.md
  project/Dependencies.scala
  retro-docs/src/main/resources/META-INF/services/mdoc.StringModifier
  retro-docs/src/main/scala/io/buildo/docs/PlantUMLModifier.scala
  toctoc/core/src/main/scala/io.buildo.toctoc/core/authentication/BCryptHashing.scala
  website/i18n/en.json
  website/sidebars.json
Labels: WIP, offsite 2019, 🔒toctoc
