Repository buildo/retro, pull requests merged in 2019-05, with the labels that each got.

#1 Add CI
  ci/pipeline.yml
  sbt-buildo/ci/compile.yml
Labels: WIP

#20 #8: Provide PasswordResetAuthenticationDomain (closes #8)
  .scalafmt.conf
  toctoc/scripts/db-start.sh
  toctoc/scripts/db-stop.sh
  toctoc/slickMySql/src/main/scala/io.buildo.toctoc/slick/authentication/login/MySqlSlickLoginAuthenticationDomain.scala
  toctoc/slickMySql/src/main/scala/io.buildo.toctoc/slick/authentication/token/MySqlSlickAccessTokenAuthenticationDomain.scala
  toctoc/slickMySql/src/test/scala/io.buildo.toctoc/slick/authentication/test/MySqlSlickLoginAuthenticationDomainFlowSpec.scala
  toctoc/slickPostgreSql/src/main/scala/io.buildo.toctoc/slick/authentication/login/PostgreSqlSlickLoginAuthenticationDomain.scala
  toctoc/slickPostgreSql/src/main/scala/io.buildo.toctoc/slick/authentication/token/PostgreSqlSlickAccessTokenAuthenticationDomain.scala
  toctoc/slickPostgreSql/src/test/scala/io.buildo.toctoc/slick/authentication/test/PostgreSqlSlickLoginAuthenticationDomainFlowSpec.scala
Labels: offsite 2019, waiting for merge, 🔒toctoc

#22 #4: Remove Credential marker trait (closes #4)
  toctoc/core/src/main/scala/io.buildo.toctoc/core/authentication/AuthenticationDomain.scala
  toctoc/core/src/main/scala/io.buildo.toctoc/core/authentication/Credential.scala
  toctoc/core/src/main/scala/io.buildo.toctoc/core/authentication/TokenBasedAuthentication.scala
  toctoc/core/src/main/scala/io.buildo.toctoc/core/authentication/token/Token.scala
Labels: offsite 2019, waiting for merge, 🔒toctoc

#26 #5: Remove PostgreSqlSlickTokenBasedAuthenticationFlow (closes #5)
  toctoc/slickMySql/src/main/scala/io.buildo.toctoc/slick/authentication/MySqlSlickTokenBasedAuthenticationFlow.scala
  toctoc/slickMySql/src/test/scala/io.buildo.toctoc/slick/authentication/test/MySqlSlickLoginAuthenticationDomainFlowSpec.scala
  toctoc/slickPostgreSql/src/main/scala/io.buildo.toctoc/slick/authentication/PostgreSqlSlickTokenBasedAuthenticationFlow.scala
  toctoc/slickPostgreSql/src/test/scala/io.buildo.toctoc/slick/authentication/test/PostgreSqlSlickLoginAuthenticationDomainFlowSpec.scala
Labels: offsite 2019, waiting for merge, 🔒toctoc

#31 #30: Discard module-info.class files in sbt-assembly (closes #30)
  sbt-buildo/src/main/scala/buildo/AssemblySettingPlugin.scala
Labels: WIP

#2 Upgrade to sbt-buildo v0.11.0
  build.sbt
  project/plugins.sbt
Labels: WIP

#21 #3: Provide PasswordResetFlow (closes #3)
  build.sbt
  project/Dependencies.scala
  toctoc/core/src/main/scala/io.buildo.toctoc/core/authentication/TokenBasedAuthentication.scala
  toctoc/core/src/main/scala/io.buildo.toctoc/core/authentication/TokenBasedRecovery.scala
  toctoc/core/src/test/scala/io.buildo.toctoc/core/authentication/InMemoryAuthenticationDomain.scala
  toctoc/core/src/test/scala/io.buildo.toctoc/core/authentication/TokenBasedRecoveryFlowSpec.scala
  toctoc/ldap/src/main/scala/io.buildo.toctoc/ldap/authentication/login/LdapLoginAuthenticationDomain.scala
  toctoc/project/Dependencies.scala
  toctoc/project/build.properties
  toctoc/project/plugins.sbt
  toctoc/slickMySql/src/main/scala/io.buildo.toctoc/slick/authentication/login/MySqlSlickLoginAuthenticationDomain.scala
  toctoc/slickMySql/src/main/scala/io.buildo.toctoc/slick/authentication/token/MySqlSlickAccessTokenAuthenticationDomain.scala
  toctoc/slickMySql/src/test/scala/io.buildo.toctoc/slick/authentication/test/MySqlSlickLoginAuthenticationDomainFlowSpec.scala
  toctoc/slickPostgreSql/src/main/scala/io.buildo.toctoc/slick/authentication/login/PostgreSqlSlickLoginAuthenticationDomain.scala
  toctoc/slickPostgreSql/src/main/scala/io.buildo.toctoc/slick/authentication/token/PostgreSqlSlickAccessTokenAuthenticationDomain.scala
  toctoc/slickPostgreSql/src/test/scala/io.buildo.toctoc/slick/authentication/test/PostgreSqlSlickLoginAuthenticationDomainFlowSpec.scala
Labels: WIP, offsite 2019, 🔒toctoc

#34 #9: Explicitly use a configurable schema name for slick tables (closes #9)
  toctoc/slickMySql/src/main/scala/io.buildo.toctoc/slick/authentication/login/MySqlSlickLoginAuthenticationDomain.scala
  toctoc/slickMySql/src/main/scala/io.buildo.toctoc/slick/authentication/token/MySqlSlickAccessTokenAuthenticationDomain.scala
  toctoc/slickPostgreSql/src/main/scala/io.buildo.toctoc/slick/authentication/login/PostgreSqlSlickLoginAuthenticationDomain.scala
  toctoc/slickPostgreSql/src/main/scala/io.buildo.toctoc/slick/authentication/token/PostgreSqlSlickAccessTokenAuthenticationDomain.scala
  toctoc/slickPostgreSql/src/test/scala/io.buildo.toctoc/slick/authentication/test/PostgreSqlSlickLoginAuthenticationDomainFlowSpec.scala
Labels: offsite 2019, waiting for merge, 🔒toctoc

#33 #11: Support circe semi auto derivation (closes #11)
  build.sbt
  docs/toctoc/installation.md
  project/Dependencies.scala
  toctoc/circe/src/main/scala/io/buildo/toctoc/circe/CirceSupport.scala
  toctoc/circe/src/main/scala/io/buildo/toctoc/circe/package.scala
  toctoc/circe/src/test/scala/io/buildo/toctoc/circe/CirceSupportSpec.scala
Labels: waiting for merge, 🔒toctoc

#36 Add metarpheus to CI
  build.sbt
  ci/pipeline.yml
  metarpheus/ci/test.yml
  metarpheus/cli/src/main/scala/io.buildo.metarpheus/cli/Cli.scala
  metarpheus/cli/src/main/scala/io.buildo.metarpheus/cli/repr.scala
  metarpheus/cli/src/test/resources/fixtures/config.json
  metarpheus/cli/src/test/scala/io.buildo.metarpheus/cli/CliSuite.scala
  metarpheus/core/src/main/scala/io.buildo.metarpheus/core/extractors/UtilityClasses.scala
  metarpheus/core/src/main/scala/io.buildo.metarpheus/core/extractors/controller.scala
  metarpheus/core/src/main/scala/io.buildo.metarpheus/core/extractors/model.scala
  metarpheus/core/src/main/scala/io.buildo.metarpheus/core/extractors/package.scala
  metarpheus/core/src/test/scala/io.buildo.metarpheus/core/extractors/ApiSuite.scala
  metarpheus/core/src/test/scala/io.buildo.metarpheus/core/extractors/Common.scala
  metarpheus/core/src/test/scala/io.buildo.metarpheus/core/extractors/ControllerSuite.scala
  metarpheus/jsFacade/src/main/scala/io.buildo.metarpheus/core/JSFacade.scala
  project/Dependencies.scala
Labels: WIP

#44 Fix enumero documentation
  docs/enumero/installation.md
Labels: waiting for merge
