Repository buildo/retro, pull requests merged in 2020-01, with the labels that each got.

#92 #85: Missing `PlainCodec` for query parameters (closes #85)
  tapiro/core/src/main/scala/io/buildo/tapiro/Http4sMeta.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/Meta.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/TapirMeta.scala
Labels: waiting for merge, 🐭tapiro

#89 #80: Look for models also outside of the controllers path (closes #80)
  project/Dependencies.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/Cli.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/Util.scala
  tapiro/sbt-tapiro/src/main/scala/io/buildo/tapiro/SbtTapiro.scala
  tapiro/sbt-tapiro/src/sbt-test/sbt-tapiro/simple/build.sbt
Labels: waiting for merge, 🐭tapiro

#90 #88: Errors should have proper json encoder instead of string (closes #88)
  tapiro/core/src/main/scala/io/buildo/tapiro/Meta.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/TapirMeta.scala
Labels: waiting for merge

#87 #86: Get requests with no query parameters should not have `.tupled` (closes #86)
  tapiro/core/src/main/scala/io/buildo/tapiro/Http4sMeta.scala
Labels: waiting for merge, 🐭tapiro

#97 #94: Update tapir tapiro to 0.12.15 (closes #94)
  project/Dependencies.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/Http4sMeta.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/TapirMeta.scala
Labels: waiting for merge, 🐭tapiro

#98 #93: Tapiro sealed traits json codecs compilation error (closes #93 #82)
  tapiro/core/src/main/scala/io/buildo/tapiro/Meta.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/MetarpheusHelper.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/TapirMeta.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/Util.scala
Labels: in review

#101 #100: Remove .tupled when controller has just 1 argument (closes #100)
  tapiro/core/src/main/scala/io/buildo/tapiro/Http4sMeta.scala
Labels: waiting for merge, 🐭tapiro

#102 #95: Add possibility to generate akkahttp code (closes #95)
  tapiro/core/src/main/scala/io/buildo/tapiro/AkkaHttpMeta.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/Util.scala
  tapiro/sbt-tapiro/src/main/scala/io/buildo/tapiro/SbtTapiro.scala
  tapiro/sbt-tapiro/src/sbt-test/sbt-tapiro/simple/build.sbt
Labels: in review, 🐭tapiro

#99 #96: Add tapiro authentication (closes #96)
  tapiro/core/src/main/scala/io/buildo/tapiro/Http4sMeta.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/TapirMeta.scala
Labels: waiting for merge, 🐭tapiro

#105 #104: metarpheus release (closes #104)
  .jvmopts
  metarpheus/jsFacade/npm/package.json
Labels: waiting for merge

#106 #103: Add auth to tapiro akka-http (closes #103)
  tapiro/core/src/main/scala/io/buildo/tapiro/AkkaHttpMeta.scala
Labels: waiting for merge

#111 #110: Add tupled also to post requests in tapiro (closes #110)
  tapiro/core/src/main/scala/io/buildo/tapiro/AkkaHttpMeta.scala
  tapiro/core/src/main/scala/io/buildo/tapiro/Http4sMeta.scala
Labels: waiting for merge, 🐭tapiro

#109 #108: Allow discarding route error models via config (closes #108)
  metarpheus/core/src/main/scala/io.buildo.metarpheus/core/Metarpheus.scala
  metarpheus/core/src/main/scala/io.buildo.metarpheus/core/config.scala
  metarpheus/core/src/main/scala/io.buildo.metarpheus/core/intermediate/intermediate.scala
  metarpheus/core/src/test/scala/io.buildo.metarpheus/core/extractors/ApiSuite.scala
  metarpheus/jsFacade/src/main/scala/io.buildo.metarpheus/core/JSFacade.scala
Labels: BE maint, waiting for merge

#113 #112: Remove unused imports in akkahttp generated code by tapiro (closes #112)
  tapiro/core/src/main/scala/io/buildo/tapiro/AkkaHttpMeta.scala
Labels: waiting for merge
